# webhook.service

[Unit]
Description=Inicia WebHook

[Service]
User=root
ExecStart=/usr/bin/python3 /path/to/file/webhook.py
Restart=always

[Install]
WantedBy=multi-user.target
